/* Estilos para todo el proyecto */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600; 700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

body {
    background-color: white;
    color: white;
}

.contenedor-centrado {
    display: flex;
    width: 100%;
    justify-content: center;
}

.logo-centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 120px;
    height: 250px;
}

.navbar-index {
    margin: 0;
    padding: 0;
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
    position: fixed !important;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.logo-nav {
    height: 80%;
    overflow: hidden;
    margin-left: 1em;
}

p {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    color: black;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: grey;
    color: #111;
    border: 1px solid lightslategray;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease
}

table {
    max-width: 90%;
    color: #111;
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px red(1, 1, 1, 1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #111;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #E7473C;
    color: white;
    box-shadow: #E7473C 0px 1px 25px;
}

button {
    padding: 8px;
    margin: 4px;
    background-color: grey;
    color: #111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 85%;
    font-weight: 800;
}

button:hover {
    background-color: #E7473C;
    color: white;
    box-shadow: #E7473C 0px 1px 25px;
}

a {
    padding: 8px;
    margin: 4px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
    font-weight: 800;
}

a:hover {
    background-color: #E7473C;
    color: white;
    box-shadow: #E7473C 0px 1px 25px;
}